/* import for fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sedgwick+Ave+Display&display=swap');

* {
    font-family: 'Roboto';
}

form {
    margin: 100px;
}

input:valid {
    border: 1px solid green;
}

.credit {
    position: absolute;
    bottom: 0;
    margin: 0px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(250, 250, 250, 0.5);
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0px;
    min-height: 100vh;
    min-width: 100vh;
}

.sidebar {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 40%;
    background-image: url(skatepic.jpg);
    background-position: center;
    height: auto;
    background-size: 100% 100%;
}

.logo {
    text-align: center;
    font-family: 'Sedgwick Ave Display', 'Roboto';
    font-size: 125px;
    margin: 0px;
    background-color: rgba(250, 250, 250, 0.5);
}

.signup-text, .signup-form {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.signup {
    display: flex;
    flex-direction: column;
}

.signup-text {
    margin: 30px;
}