/* import for fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sedgwick+Ave+Display&display=swap');

* {
    font-family: 'Roboto';
}

form {
    margin: 100px;
}

input:user-valid {
    border: 1px solid green;
}

input:user-invalid {
    border: 1px solid red;
}

input:focus {
    border: 1px solid blue;
}

input {
    border: 1px solid #ccc;
    padding: 5px;
}


.credit {
    position: absolute;
    bottom: 0;
    margin: 0px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(250, 250, 250, 0.5);
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0px;
    min-height: 100vh;
    min-width: 100vh;
}

.sidebar {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 40%;
    background-image: url(skatepic.jpg);
    background-position: center;
    height: auto;
    background-size: 100% 100%;
}

.logo {
    text-align: center;
    font-family: 'Sedgwick Ave Display', 'Roboto';
    font-size: 125px;
    margin: 0px;
    background-color: rgba(250, 250, 250, 0.5);
}

.signup-text, .signup-form {
    margin: 10px;
}

.signup-form {
    background-color: aliceblue;
}

.signup {
    display: flex;
    flex-direction: column;
}

.names, .contacts, .user, .submit {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin: 10px;
}

.signup-text {
    margin: 30px;
    text-align: center;
}

button {
    padding: 10px;
    background-color: #4CAF50; 
    color: white;            
    border: none;        
    border-radius: 6px;      
    cursor: pointer;
}